@import "fonts";


.new_user {
    max-width: 370px;
    padding: 5em 1em;
    margin: 0 auto;
}

.landing-title {
  color: $white;
  font-family: $font-h;
  font-weight: 300;
  line-height: 80px;
  padding-top: 2em;
  padding-bottom: none;
  .one{
    color:rgb(191, 95, 95);
  }
  .two{
    color:rgb(84, 111, 164);
  }
  .three{
    color:rgb(70, 152, 85);
  }
}

.landing-action{
  color:rgb(200, 200, 200);
}

.form-group{
  color:rgb(149, 130, 93);
}

.landing-form {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 2px;
    padding-left: 18px;
    background-color: rgba(237, 250, 255, 0.09);
  }

  .landing-form:focus {
      color: white;
      box-sizing: border-box;
      width: 100%;
      height: 50px;
      border: none;
      border-radius: 2px;
      padding-left: 18px;
      background-color: rgba(237, 250, 255, 0.25);
      border-bottom: 5px solid rgb(56, 143, 214);
    }


.btn-landing-submit {
  border-box: box-sizing;
  cursor: pointer;
  color: $white;
  text-transform: uppercase;
  font-size: .8rem;
  padding: 15px 30px;
  background: rgb(75, 114, 161);
  border: none;
  border-radius: 2px;
  letter-spacing: 1px;
  transition: all 300ms ease-in-out;

  &:hover {
    background: rgb(101, 153, 215);
    transform: scale(1.1);
  }
}

.btn-landing-link {
  border-box: box-sizing;
  cursor: pointer;
  color: $white;
  text-transform: uppercase;
  font-size: .8rem;
  padding: 15px 30px;
  background: rgb(150, 130, 79);
  border: none;
  border-radius: 2px;
  letter-spacing: 1px;
  transition: all 300ms ease-in-out;

  &:hover {
    color: white;
    background: rgb(191, 166, 103);
    transform: scale(1.1);
  }
}

.landing-link{
  color:rgb(130, 166, 168);
  &:hover{
    color:white;
    text-decoration: none;
  }
}
